apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  # This matches env.HPA_NAME ("iris-classifier-hpa")
  name: iris-classifier-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    # This targets the correct deployment name
    name: iris-classifier
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50